---
import { Image } from 'astro:assets';
import { ReviewType, type Review } from '../../models/Review';

const {
  movie,
  rank,
  lazyLoad = false
} = Astro.props;


const cardText = () => {
  if (!movie.isReleased) {
    return movie.releaseDateText;
  }

  return;
};

const review = movie.getSummaryReview()
---

<a
  href={`/movie/${movie.slug}`}
  class="relative group block overflow-hidden rounded-lg shadow-lg hover:shadow-xl transition-all duration-300"
  id={movie.name}
>
  <Image
    src={movie.posterUrl}
    alt={movie.name}
    width={300}
    height={450}
    class="w-full h-auto object-cover group-hover:scale-105 transition-transform duration-300"
    loading={lazyLoad ? "lazy" : "eager"}
  />
  {
    rank ? (
      <span class="absolute top-0 left-0 bg-gradient-to-br from-red-600 to-red-700 text-white text-sm font-bold flex items-center justify-center w-8 h-8 lg:w-12 lg:h-12 clip-triangle shadow-lg">
        {rank}
      </span>
    ) : <></>
  }
  <div class="absolute top-0 right-0 flex flex-row items-start space-x-1 p-2 bg-black/70 backdrop-blur-sm rounded-bl-lg rounded-tr-lg">
    {
      movie.getTopCategories()
        .map((categoryName: string) => (
          <img
          class="w-5 h-5 sm:w-6 sm:h-6 shrink-0 hover:scale-110 transition-transform"
          src={`/icons/categories/${categoryName}.svg`}
            alt={`${categoryName} icon`}
          />
        ))
    }
  </div>
  <div
    class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-black/80 to-transparent text-white text-center sm:text-sm lg:text-lg font-semibold py-2 items-center justify-center flex gap-2 rounded-b-lg"
  >
  { movie.hasReviews() ?
      <span class="inline-flex items-center justify-center gap-1 whitespace-nowrap text-sm sm:text-base text-white bg-black/50 px-2 py-1 rounded-full">
        <img
          class="w-4 h-4 sm:w-5 sm:h-5 shrink-0"
          src={`/icons/${review.type == ReviewType.AI ? 'ai' : 'user'}.svg`}
          alt={`${review.type} review icon`}
        />
        <span>{review.overallRating}</span>
      </span>
    : cardText()
  }
  </div>
</a>