---
import MainLayout from "../layouts/MainLayout.astro";
import { SEO } from "astro-seo";
import { Image } from "astro:assets";
import { upcomingMovies } from "../content.config";
---

<head>
  <meta charset="UTF-8" />
  <SEO
    title="Scare Scale - Upcoming Horror Movies"
    description="Discover upcoming horror movies over the next 12 months. Stay updated on the latest releases in the horror genre."
    canonical="https://scarescale.com/upcoming"
    openGraph={{
      basic: {
        type: "website",
        url: "https://scarescale.com/upcoming",
        title: "Scare Scale - Upcoming Horror Movies | Release Timeline",
        image: "https://scarescale.com/screenshots/home_page_screenshot.png",
      },
      optional: {
        description:
          "Explore the timeline of upcoming horror movies. Find out what's releasing soon and plan your next scare-filled movie night.",
      },
    }}
  />
  <meta name="keywords" content="upcoming horror movies, horror releases, new horror movies, scare scale" />
</head>

<MainLayout>
  <section class="flex flex-col gap-y-10 md:gap-y-20 p-10">
    <h1 class="text-3xl font-bold text-center text-white">
      Upcoming Horror Movies
    </h1>

    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8 max-w-screen-xl mx-auto">
      {upcomingMovies.map((movie) => (
        <a
          href={`/movie/${movie.slug}`}
          class="hover:bg-gray-700 transition rounded-lg overflow-hidden"
        >
          <div class="flex flex-col gap-y-4 p-4">
            <Image
              src={`https://www.themoviedb.org/t/p/w300_and_h450_bestv2${movie.data.tmdbPosterId}`}
              alt={`${movie.data.name} poster`}
              width={300}
              height={450}
              class="rounded-lg object-cover w-full h-auto"
            />
            <div>
              <h3 class="text-xl font-medium text-white">
                {movie.data.name}
              </h3>
              <p class="text-gray-300">
                Release Date: {movie.formattedDate}
              </p>
            </div>
          </div>
        </a>
      ))}
    </div>
  </section>
</MainLayout>