---
import { getCollection } from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";
import { SEO } from "astro-seo";
import { Image } from "astro:assets";

const movieEntries = await getCollection("movie");

// Filter movies with future release dates
const upcomingMovies = movieEntries
  .map((movie) => ({
    ...movie,
    parsedDate: new Date(movie.data.releaseDate),
    formattedDate: new Date(movie.data.releaseDate).toLocaleDateString(
      "en-GB",
      {
        day: "numeric",
        month: "long",
        year: "numeric",
      }
    ),
  }))
  .filter((movie) => movie.parsedDate > new Date())
  .sort((a, b) => a.parsedDate.getTime() - b.parsedDate.getTime());

// Group movies by month
const groupedMovies = upcomingMovies.reduce((acc, movie) => {
  const monthYear = movie.parsedDate.toLocaleString("default", {
    month: "long",
    year: "numeric",
  });
  if (!acc[monthYear]) acc[monthYear] = [];
  acc[monthYear].push(movie);
  return acc;
}, {});
---

<head>
  <SEO
    title="Scare Scale - Upcoming Horror Movies"
    description="Discover upcoming horror movies over the next 12 months. Stay updated on the latest releases in the horror genre."
    canonical="https://scarescale.com/upcoming"
    openGraph={{
      basic: {
        type: "website",
        url: "https://scarescale.com/upcoming",
        title: "Scare Scale - Upcoming Horror Movies | Release Timeline",
        image: "https://scarescale.com/assets/upcoming-preview.jpg",
      },
      optional: {
        description:
          "Explore the timeline of upcoming horror movies. Find out what's releasing soon and plan your next scare-filled movie night.",
      },
    }}
  />
</head>

<MainLayout>
  <section class="flex flex-col gap-y-10 md:gap-y-20 p-10">
    <h1 class="text-3xl font-bold text-center text-white">
      Upcoming Horror Movies
    </h1>
    <div class="timeline relative border-l-2 pl-6 space-y-8 mx-auto max-w-3xl">
      {
        Object.entries(groupedMovies).map(([monthYear, movies]) => (
          <div class="timeline-month">
            <h2 class="text-2xl font-semibold text-white mb-4">{monthYear}</h2>
            {movies.map((movie) => (
              <a
                href={`/movie/${movie.slug}`}
                class="timeline-item relative mb-8 block hover:bg-gray-700 transition rounded-lg"
              >
                <div class="ml-6 flex flex-col gap-y-4 p-4">
                  <Image
                    src={`https://www.themoviedb.org/t/p/w300_and_h450_bestv2${movie.data.tmdbPosterId}`}
                    alt={`${movie.data.name} poster`}
                    width={300}
                    height={450}
                    class="size-full size-2/3 rounded-lg object-cover"
                  />
                  <div>
                    <h3 class="text-xl font-medium text-white">
                      {movie.data.name}
                    </h3>
                    <p class="text-gray-300">
                      Release Date: {movie.formattedDate}
                    </p>
                  </div>
                </div>
              </a>
            ))}
          </div>
        ))
      }
    </div>
  </section>
</MainLayout>
