---
import SearchBar from "./SearchBar.astro";

const navLinks = {
  "Ranks": "/ranks",
  "Recommended": "/recommended",
  "Filter": "/filter",
  "Score Guide": "/score-guide",
  "Upcoming": "/upcoming",
};
---

<div class="bg-white border-b-2 border-[#d60c16]" id="navBar">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between py-4">
      <!-- Logo -->
      <a href="/" class="text-2xl font-bold">
        <img
          src="/logo/logo_full_compressed.webp"
          alt="Scare Scale Logo"
          class="h-10 w-auto"
        />
      </a>

      <!-- Centered Navigation -->
      <nav class="hidden md:flex flex-grow justify-center space-x-6 font-bold">
        {
          Object.entries(navLinks).map(([name, href]) => (
            <a href={href} class="hover:text-[#d60c16]">
              {name}
            </a>
          ))
        }
      </nav>

      <SearchBar />
      <!-- Mobile Menu Button -->
      <button id="menuButton" class="md:hidden focus:outline-none ml-2">
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div id="mobileMenu" class="hidden md:hidden bg-white px-4">
    <nav class="flex flex-col py-4 space-y-2">
      {
        Object.entries(navLinks).map(([name, href]) => (
          <a href={href} class="hover:text-gray-400">
            {name}
          </a>
        ))
      }
    </nav>
  </div>
</div>

<!-- Script for Menu Toggle and Search -->
<script>
  function performSearch() {
    const searchInput = document.getElementById(
      "searchInput"
    ) as HTMLInputElement;

    if (searchInput.value.trim().length < 1) {
      searchInput.setCustomValidity("Please enter at least one character.");
      searchInput.reportValidity(); // Show validation message
      return;
    }

    searchInput.setCustomValidity(""); // Clear validation message
    window.location.href = `/search?q=${searchInput.value}`;
  }

  const menuButton = document.getElementById("menuButton") as HTMLButtonElement;
  const mobileMenu = document.getElementById("mobileMenu");
  const searchButton = document.getElementById(
    "searchButton"
  ) as HTMLButtonElement;
  const searchInput = document.getElementById(
    "searchInput"
  ) as HTMLInputElement;

  if (menuButton && mobileMenu) {
    menuButton.addEventListener("click", function () {
      mobileMenu.classList.toggle("hidden");
    });
  }

  if (searchButton && searchInput) {
    searchButton.addEventListener("click", performSearch);
    searchInput.addEventListener("keydown", function (event) {
      if (event.key === "Enter") {
        event.preventDefault(); // Stops form submission if inside a form
        performSearch();
      }
    });
  }
  // Populate search input with query parameter value on page load
  const urlParams = new URLSearchParams(window.location.search);
  const queryValue = urlParams.get("q");

  if (queryValue && searchInput) {
    searchInput.value = queryValue;
  }
</script>
